* {
    margin: 0;
    padding: 0;
}
/* body {
    background-image: url(Dojo.png);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center center;
} */

.game-board {
    background-color: red;
    height: 40vw;
    width: 40vw;
}

.all-tiles {
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(3, 32%);
    justify-content: space-between;
    align-content: space-between;
}

.tile  {
    background-color: blue;
}